<!DOCTYPE html>
<html lang="en">
<head>
  <title>SNO</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


  <script>
    $(document).ready(function() {
    var messages = "{{ get_flashed_messages() }}";

    if (typeof messages != 'undefined' && messages != '[]') {
        $("#message").modal();
    };
    });
  </script>

  <script language="javascript">
    function addRow(tableID, rowLabel) {  
      var table = document.getElementById(tableID);  
      var rowCount = table.rows.length;  
      var row = table.insertRow(rowCount);  

      var cell1 = row.insertCell(0);
      var element1 = document.createElement("input");  
      element1.type = "text";  
      var id = rowLabel + '[' + (rowCount) + ']';
      element1.setAttribute('id', id)
      element1.setAttribute('name', id)
      element1.setAttribute('class', 'form-control')
      var value = window.prompt("Enter value: ");
      element1.setAttribute('value', value)
      cell1.appendChild(element1);  

      //Column 2  
      var cell2 = row.insertCell(1);  
      var element2 = document.createElement("input");  
      element2.type = "button";  
      //var btnName = tableID + (rowCount);  
      //element2.name = btnName;  
      element2.setAttribute('value', 'Delete'); // or element1.value = "button";  
      element2.onclick = function() {  
        removeRow(this, tableID, rowLabel);  
      }  
      cell2.appendChild(element2);  
    }

    function removeRow(row, tableID, rowLabel) {  
      var i=row.parentNode.parentNode.rowIndex;
      document.getElementById(tableID).deleteRow(i);
      var table = document.getElementById(tableID);
      var rowCount = table.rows.length;
      for (var i = 0; i < rowCount; i++) {
        var new_id = rowLabel + '[' + (i) + ']';
        if (table.rows[i].cells[0].childNodes.length > 1) {
          table.rows[i].cells[0].childNodes[1].id = new_id
          table.rows[i].cells[0].childNodes[1].name = new_id
        }
        else {
          table.rows[i].cells[0].childNodes[0].id = new_id
          table.rows[i].cells[0].childNodes[0].name = new_id
        }
      }
    }
  
  </script>

<style>
  table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>

<div class="container">
  <h2>SNO</h2>

  {% with messages = get_flashed_messages() %}
            {% if messages %}
              {% for message in messages %}

              <div id="message" class="modal fade" role="dialog">
                  <div class="modal-dialog modal-lg">
              
                  <!-- Modal content-->
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                      <p>
                        {% for line in message.splitlines() %}
                        {{line}}<br/>
                        {% endfor %}
                      </p>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      </div>
                  </div>
                  </div>
                  </div>
              {% endfor %}
            {% endif %}
          {% endwith %}

  <button type="button" class='btn btn-success pull-right' data-toggle="modal" data-target="#commit">Commit</button>

  <div id="commit" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Commit</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
          <form action ="{{ url_for('commit') }}" method = "POST">
              <input type="checkbox" id="DryRun" name="DryRun">
              <label for="DryRun">DryRun</label>
              <p><button type="submit" class="btn btn-info btn-sm">Commit</button></p>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>
    </div>
    </div>
    

  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="link" href="{{ url_for('home') }}">Home</a></li>
    <!-- <li><a data-toggle="tab" href="#devices">Devices</a></li> -->
    <li><a data-toggle="link" href="{{ url_for('add_device') }}">Devices</a></li>
    <li><a data-toggle="tab" href="#rm">Resource Manager</a></li>
    <li><a data-toggle="tab" href="#services">Services</a></li>
  </ul>

  

            


  <div class="tab-content">
    <div id="home" class="tab-pane fade in active">
      <h3>HOME</h3>
      <p>Some Content</p>
    </div>


    <div id="devices" class="tab-pane fade">
      <h3>Devices</h3>
      <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#addDevice">Add Device</button>
      <div class="table-responsive">     
        <table id="devicelist" class="table table-bordered table-striped mb-0" style="margin-bottom: 0">
          <thead class="thead-dark">
            <tr>
              <th width="10%">name</th>
              <th>mgmt_ip</th>
            </tr>
          </thead>
          <tbody>
            {% for device, params in snoDB_dict.devices.device.items() %}
            <tr>
              <td width="10%">{{ device }}</td>
              <td>{{ params.mgmt_ip }}</td>
              <td><button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#editDevice{{ device }}">Edit</button></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        </div>
    </div>

          <!-- Modal -->

          <div id="addDevice" class="modal fade" role="dialog">
            <div class="modal-dialog modal-lg">
        
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">Add device params</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
              <div class="modal-body">
                  <form action ="{{ url_for('add_device') }}" method = "POST">
                    <div class="form-group">
                  {% for param, value in snoDB_dict.tree['sno:devices'][1].device[1].items() %}
                    {% if value[0] == 'leaf' %}
                      {% if value[1] == 'string' %}
                      <label for={{param}}>{{param}}:</label>
                        <input type="text" id={{param}} name={{param}} class="form-control"><br>
                      {% elif value[1] == 'uint32' %}
                      <label for={{param}}>{{param}}:</label>
                        <input type="number" id={{param}} name={{param}} class="form-control"><br>
                      {% elif value[1] == 'enumeration' %}
                      <label for={{param}}>{{param}}:</label>
                        <select name={{param}} id={{param}} class="form-control">
                        {% for enum in value[2] %}
                          <option value={{enum}}>{{enum}}</option>
                        {% endfor %}
                        </select><br>
                      {% elif value[1] is iterable %}
                        {% if value[1][0] == 'union' %}
                          <label for={{param}}>{{param}}:</label>
                          <input type="text" id={{param}} name={{param}} class="form-control"><br>
                        {% endif %}
                      {% endif %}
                    {% endif %}
                  {% endfor %}
                  <p><button type="submit" class="btn btn-info btn-sm">Add Device</button></p>
                    </div>
                  </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>  
          </div>
        </div>



        <!-- Modal -->
        {% for device, params in snoDB_dict.devices.device.items() %}
        <div id="editDevice{{ device }}" class="modal fade" role="dialog">
            <div class="modal-dialog modal-lg">
        
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">Edit Device</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
              <div class="modal-body">
                  <form action ="/devices/device/{{ device }}" method = "POST">
                    <div class="form-group">
                  {% for param, value in snoDB_dict.tree['sno:devices'][1].device[1].items() %}
                    {% set device_param = params[param] %}
                    {% if value[0] == 'leaf' %}
                      {% if value[1] == 'string' %}
                        <label for={{param}}>{{param}}:</label>
                        <input type="text" id={{param}} name={{param}} class="form-control" value={{device_param}}><br>
                      {% elif value[1] == 'uint32' %}
                        <label for={{param}}>{{param}}:</label>
                        <input type="number" id={{param}} name={{param}} class="form-control" value={{device_param}}><br>
                      {% elif value[1] == 'enumeration' %}
                        <label for={{param}}>{{param}}:</label>
                        <select name={{param}} id={{param}} class="form-control">
                        {% for enum in value[2] %}
                          {% if enum == device_param %}
                            <option value={{enum}} selected>{{enum}}</option>
                          {% else %}
                            <option value={{enum}}>{{enum}}</option>
                          {% endif %}
                        {% endfor %}
                        </select><br>
                      {% elif value[1] is iterable %}
                        {% if value[1][0] == 'union' %}
                          <label for={{param}}>{{param}}:</label>
                          <input type="text" id={{param}} name={{param}} class="form-control" value={{device_param}}><br>
                        {% endif %}
                      {% endif %}

                    {% elif value[0] == 'container' %}
                      {% set label_string_var = namespace(label_string=param) %}
                      <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#{{device}}{{param}}">{{param}}</button>
                        <div id="{{device}}{{param}}" class="collapse">
                        {% set vars =  namespace(close_div=False) %}
                        {% set device_param_var =  namespace(device_param=device_param) %}
                        {% for recur_key, recur_value in value[1].items() recursive %}
                          {% if ':' in recur_key %}
                            {% set recur_key = recur_key.split(':')[1] %}
                          {% endif %}
                          {% if recur_key in device_param_var.device_param %}
                            {% set device_param_recur = device_param_var.device_param[recur_key] %}
                          {% else %}
                            {% set device_param_recur = "" %}
                          {% endif %}
                          {% set label_string_var.label_string = label_string_var.label_string + '.' + recur_key %}
                          {% if recur_value[0] == 'leaf' %}
                            {% if recur_value[1] == 'string' %}
                              <label for={{label_string}}>{{recur_key}}:</label>
                              <input type="text" id={{label_string}} name={{label_string}} class="form-control" value={{device_param_recur}}><br>
                            {% elif recur_value[1] == 'uint32' %}
                              <label for={{label_string}}>{{recur_key}}:</label>
                              <input type="number" id={{label_string}} name={{label_string}} class="form-control" value={{device_param_recur}}><br>
                            {% elif recur_value[1] == 'enumeration' %}
                              <label for={{label_string}}>{{recur_key}}:</label>
                              <select name={{label_string}} id={{label_string}} class="form-control">
                              {% for enum in recur_value[2] %}
                                {% if enum == device_param_recur %}
                                  <option value={{enum}} selected>{{enum}}</option>
                                {% else %}
                                  <option value={{enum}}>{{enum}}</option>
                                {% endif %}
                              {% endfor %}
                              </select><br>
                            {% elif recur_value[1] is iterable %}
                              {% if recur_value[1][0] == 'union' %}
                                <label for={{label_string}}>{{recur_key}}:</label>
                                <input type="text" id={{label_string}} name={{label_string}} class="form-control" value={{device_param_recur}}><br>
                              {% endif %}
                            {% endif %}
                          {% elif recur_value[0] == 'leaf-list' %}
                                <table id={{device}}{{label_string_var.label_string}}>
                                {% for item in device_param_recur %}
                                  {% set item_label = label_string_var.label_string + '[' + loop.index0|string + ']' %}
                                  <tr>
                                    <td>
                                      <input type={{recur_value[1]}} id={{item_label}} name={{item_label}} class="form-control" value="{{item}}"">
                                    </td>
                                    <td>
                                      {% set button_label = device + label_string_var.label_string + loop.index0|string %}
                                      <input type="button" value="Delete" onclick="removeRow(this, '{{device}}{{label_string_var.label_string}}', '{{label_string_var.label_string}}')">
                                    </td>
                                  </tr>
                                {% endfor %}
                                </table>
                                <input type="button" value="Add" onclick="addRow('{{device}}{{label_string_var.label_string}}', '{{label_string_var.label_string}}')">

                          {% elif recur_value[0] == 'container' %}
                            {% set device_param_var.device_param = device_param_recur %}
                              <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#{{device}}{{param}}{{recur_key}}">{{recur_key}}</button>
                                <div id="{{device}}{{param}}{{recur_key}}" class="collapse">
                                  {% set vars.close_div = True %}
                                  {{ loop (recur_value[1].items()) }}

                          {% endif %}
                        {% endfor %}
                        {% if vars.close_div %}
                          </div>
                          {% set vars.close_div = False %}
                        {% endif %}
                        </div>
                    {% endif %}
                  {% endfor %}
                  <p><button type="submit" class="btn btn-info btn-sm">Edit</button></p>
                    </div>
                  </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>  
          </div>
        </div>
        {% endfor %}


    <div id="rm" class="tab-pane fade">
      <h3>Resource Manager</h3>
      <p>Not yet Implemented.</p>
    </div>
    <div id="services" class="tab-pane fade">
      <h3>Services</h3>
      <p>Not yet Implemented.</p>
    </div>
  </div>
</div>

</body>
</html>